/*Div Days Month*/
.divDays {
  padding: 0.625rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*Dia Actual*/
.actual-day {
  background-color: red;
  border-radius: 50%;
}

/*Domingo*/
.divDays .sunday {
  color: #dd0101;
}
/*Sabado*/
.divDays .saturday {
  color: #1899d6;
}

.divDays .button-event {
  all: unset;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.divDays .button-event:hover {
  background-color: blue;
}

.modal-back {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-back .modal-content {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
  margin: auto;
  padding: 1.5rem;
  position: relative;
  width: fit-content;
}

.modal-back .modal-content .modal-header .modal-title {
  margin: 0 0 1rem;
  color: #1899d6;
}

.modal-back .modal-content .modal-header .modal-action button {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 4px;
  padding: 0.675rem;
  position: absolute;
  right: 0.335rem;
  top: 0.335rem;
  right: 0.625rem;
  cursor: pointer;
}

.modal-back .modal-content .modal-body {
  padding: 1rem 1rem 1rem 1rem;
}

.modal-back .modal-content .modal-body input {
  border-radius: 5px;
  padding: 5px;
  border-color: #1899d6;
}

.modal-back .modal-content .modal-body input:hover {
  border: 2.5px solid #1899d6;
}

.textArea{
 border: 2px solid #1899d6;
}

.modal-back .modal-content .modal-header .modal-action button:hover {
  background-color: #dd0101;
}

.modal-back .modal-content .modal-footer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.modal-back .modal-content .modal-footer button{
  border-radius: 8px;
  background-color: #1899d6;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.modal-back .modal-content .modal-footer button:hover {
  transform: translateY(-5px);
}
/* .modal-back .modal-content .close-modal {
  position: absolute;
  right: 0.325rem;
  top: 0;
}

.modal-back .modal-content .close-modal button {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 16px;
  padding: 1rem;
} */
