#divFormMonth{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

#divFormYear{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

#divButton{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

p{
    display: flex;
    justify-content: center;
    color: red;
}


.calendarContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 22px;
}