.inputMonthWrong {
  background-color: red;
}

.inputMonthRight {
  background-color: green;
}

#app {
  border: 1px solid #ececec;
  box-shadow: 2px 2px 5px #eaeaea;
  margin-bottom: 0.625rem;
  padding: 0.625rem 1rem;
  background-color: #ececec;
}

.myForm{
  background-color: #eaeaea;
}

.box-input-form {
  align-items: center;
  display: flex;
  padding: 0.625rem 1rem;
  position: relative;
}
.inputs {
  display: flex;
  align-items: center;
  color: black;
  
} 

input{
  background-color: white;
  color: black;
  border-color: #1899D6;
  border-radius: 8px;
}

.divButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap:1rem;
}

.botonForm {
  background-color: #1899D6;
  cursor: pointer;
}

#divFormMonth {
  gap: 1rem;
  padding: 0.625rem 1rem;
  position: relative;
}

#month {
  text-decoration: none;
  padding: 0.425rem;
}

#month:hover {
  border-style: 20px;
  border-color: black;
  box-shadow: 1px 1px 1px black;
}

.ErrorMes {
  position: absolute;
  left:40%;
}

.float-errors {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
}
.float-errors p {
  margin: 0;
  padding: 0;
}

#year {
  text-decoration: none;
  padding: 0.425rem;
}

#year:hover {
  border-style: 20px;
  border-color: black;
  box-shadow: 1px 1px 1px black;
}

#divFormYear {
  position: relative;
  gap: 1rem;
  padding: 0.625rem 1rem;
}

.ErrorAño {
 position: absolute;
 
}

.yearError{
  position: absolute;
  top:70px;
}

.divExplicacion {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: black;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.h1Year {
  text-align: center;
}

#renderCalendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}
.calendar {
  display: grid;
  grid-gap:20px;
  grid-template-columns: repeat(4, 1fr);
}

.containerMonth {
  background-color: #fff;
  margin: 0.3rem;
  zoom: 0.4;
}

.boxMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #fff;
  font-size: 22px;
}

.divAllMonths {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.h1Title {
  background: #2E74B4;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.day-name {
  background: #eaeaea;
  padding: 1rem;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.divDays {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}